{% extends 'base.html.twig' %}

{% block title %}Couvoiturage index{% endblock %}

{% block body %}
    <h1>Couvoiturage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DepartAt</th>
                <th>LieuDepart</th>
                <th>ArriveeAt</th>
                <th>LieuArrivee</th>
                <th>Statut</th>
                <th>NbPlace</th>
                <th>PrixPersonne</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couvoiturage in couvoiturages %}
            <tr>
                <td>{{ couvoiturage.id }}</td>
                <td>{{ couvoiturage.departAt ? couvoiturage.departAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ couvoiturage.lieuDepart }}</td>
                <td>{{ couvoiturage.arriveeAt ? couvoiturage.arriveeAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ couvoiturage.lieuArrivee }}</td>
                <td>{{ couvoiturage.statut }}</td>
                <td>{{ couvoiturage.nbPlace }}</td>
                <td>{{ couvoiturage.prixPersonne }}</td>
                <td>{{ couvoiturage.createdAt ? couvoiturage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ couvoiturage.updatedAt ? couvoiturage.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_couvoiturage_show', {'id': couvoiturage.id}) }}">show</a>
                    <a href="{{ path('app_couvoiturage_edit', {'id': couvoiturage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_couvoiturage_new') }}">Create new</a>
{% endblock %}
